# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Docker files
# Only if you are caching a large context
# .dockerignore

# Environment files
# If you used an .env file for credentials
.env
